#midd-main{background-color:white;border:1px solid #CECECE;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;padding:5px 10px}
.post h2.post-title{margin:0 0 10px;font-size:160%}
.post h2.post-title a{color:black}
a.comment-link{top:0}
